<?xml version="1.0" encoding="UTF-8"?>
<interface>
  <menu id="app-menu">
      <section>
        <item>
            <attribute name="action">win.toggle_fullscreen</attribute>
            <attribute name="label" translatable="yes">Toggle Fullscreen</attribute>
        </item>
          <item>
              <attribute name="action">win.show_size</attribute>
              <attribute name="label" translatable="yes">Show Size</attribute>
          </item>
      </section>
      <section>
          <attribute name="label" translatable="yes">Configuration</attribute>
          <item>
              <attribute name="action">app.save_configuration</attribute>
              <attribute name="label" translatable="yes">Save</attribute>
          </item>
          <item>
              <attribute name="action">app.save_as_configuration</attribute>
              <attribute name="label" translatable="yes">Save As</attribute>
          </item>
          <item>
              <attribute name="action">app.load_configuration</attribute>
              <attribute name="label" translatable="yes">Load</attribute>
          </item>

      </section>
    <section>
        <attribute name="label" translatable="yes">SBrick</attribute>
        <item>
            <attribute name="action">win.set_owner_password</attribute>
            <attribute name="label" translatable="yes">Set Owner Password</attribute>
        </item>
        <item>
            <attribute name="action">win.set_guest_password</attribute>
            <attribute name="label" translatable="yes">Set Guest Password</attribute>
        </item>
        <item>
            <attribute name="action">win.write_owner_password</attribute>
            <attribute name="label" translatable="yes">Write Owner Password</attribute>
        </item>
        <item>
            <attribute name="action">win.write_guest_password</attribute>
            <attribute name="label" translatable="yes">Write Guest Password</attribute>
        </item>
        <item>
            <attribute name="action">win.clear_owner_password</attribute>
            <attribute name="label" translatable="yes">Clear Owner Password</attribute>
        </item>
        <item>
            <attribute name="action">win.clear_guest_password</attribute>
            <attribute name="label" translatable="yes">Clear Guest Password</attribute>
        </item>

    </section>

    <section>
      <item>
        <attribute name="action">app.about</attribute>
        <attribute name="label" translatable="yes">_About</attribute>
      </item>
      <item>
        <attribute name="action">app.quit</attribute>
        <attribute name="label" translatable="yes">_Quit</attribute>
        <attribute name="accel">&lt;Primary&gt;q</attribute>
    </item>
    </section>
  </menu>


</interface>